.user {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  padding: 5px 10px;
}

.user .detail {
  text-align: left;

  display: flex;
  align-items: center;
}

.user .detail img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.user .detail button {
  margin-left: 20px;
  border: 0;
  background: transparent;
  
  text-align: left;
}

.user .detail button p {
  margin-top: -15px;
}

.user .buttons button {
  height: 40px;
  width: 60px;

  background: #fff;
  border: 1px solid rgb(180, 167, 167);
  border-radius: 5px;

  margin-right: 10px;
}

.user .buttons button.delete {
  background:  rgb(255, 54, 54);
  color: #fff;
}